.nav-item a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
}
.row {
    background-color: rgb(255, 185, 127);
}

.col-12, .col-9, .col-6, .col-4, .col-3 {
    background-color: aqua;
}

#emdestaque img {
max-width: 100%;
}