.nav-item a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 13px;
}

iframe {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 16px;
}
